## Progressive Muscle Weakness (SPG4) and Disease Data

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data.csv')

In [12]:
df.head()

,Output,Identification no,Phenotype1,Phenotype2,Phenotype3,Phenotype4,Phenotype5,Phenotype6,Phenotype7,Phenotype8,...,Phenotype18,Phenotype19,Phenotype20,Phenotype21,Phenotype22,Phenotype23,Phenotype24,Phenotype25,Phenotype26,Phenotype27
0,Control,10004,1540.120,340.452,1526,0.082500,0.062503,0.163843,0.092815,0.143364,...,15.3981,0.404702,0.938418,0.990156,1.07428,1.069980,1.001000,0.059006,0.013421,0.020324
1,Control,10004,1212.580,460.923,1067,0.279262,0.075173,0.137804,0.046705,0.397446,...,17.9765,0.448500,0.912965,1.151950,1.21383,0.935394,0.838522,0.075866,0.017636,0.024555
2,Control,10004,1372.290,377.957,1336,0.323579,0.031251,0.042559,0.075545,0.454749,...,19.8190,0.450494,0.904827,1.032370,1.20992,1.083610,0.989505,0.055997,0.014503,0.020494
3,Control,10004,1109.700,285.513,1066,0.379029,0.148827,0.219625,0.080124,0.563238,...,23.5758,0.526448,0.908984,0.981361,1.19113,1.124100,1.350820,0.043562,0.011661,0.017064
4,Control,10004,984.993,157.985,942,0.623692,0.049264,0.346898,0.062651,0.788922,...,31.0253,0.535624,0.942193,1.036050,1.23490,1.000970,0.954766,0.042217,0.012857,0.012653

In [13]:
df['Output'].value_counts()

Control    42769
Disease    32856
SPG4        1982
Name: Output, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77607 entries, 0 to 77606
Data columns (total 29 columns):
Output               77607 non-null object
Identification no    77607 non-null int64
Phenotype1           77607 non-null float64
Phenotype2           77607 non-null float64
Phenotype3           77607 non-null int64
Phenotype4           77607 non-null float64
Phenotype5           77607 non-null float64
Phenotype6           77607 non-null float64
Phenotype7           77607 non-null float64
Phenotype8           77607 non-null float64
Phenotype9           77607 non-null float64
Phenotype10          77607 non-null float64
Phenotype11          77607 non-null float64
Phenotype12          77607 non-null float64
Phenotype13          77607 non-null float64
Phenotype14          77607 non-null float64
Phenotype15          77607 non-null float64
Phenotype16          77607 non-null float64
Phenotype17          77607 non-null float64
Phenotype18          77607 non-null float64
Phenotype19          77607 non-null float64
Phenotype20          77455 non-null float64
Phenotype21          77454 non-null float64
Phenotype22          77446 non-null float64
Phenotype23          77607 non-null float64
Phenotype24          77607 non-null float64
Phenotype25          77607 non-null float64
Phenotype26          77607 non-null float64
Phenotype27          77607 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 17.2+ MB

In [18]:
raw_y = df['Output']
del df['Output']
del df['Identification no']
raw_x = df

labels_dict = {"Control": 0, "Disease": 1, "SPG4": 2}

x = pd.get_dummies(raw_x)
y = raw_y.replace(labels_dict)

In [25]:
test_data = {}
for column in df.columns:
    test_data[column] = 0

Index(['Phenotype1', 'Phenotype2', 'Phenotype3', 'Phenotype4', 'Phenotype5',
       'Phenotype6', 'Phenotype7', 'Phenotype8', 'Phenotype9', 'Phenotype10',
       'Phenotype11', 'Phenotype12', 'Phenotype13', 'Phenotype14',
       'Phenotype15', 'Phenotype16', 'Phenotype17', 'Phenotype18',
       'Phenotype19', 'Phenotype20', 'Phenotype21', 'Phenotype22',
       'Phenotype23', 'Phenotype24', 'Phenotype25', 'Phenotype26',
       'Phenotype27'],
      dtype='object')

In [26]:
for index, row in df.iterrows():
    print(dict(row))
    break

{'Phenotype3': 1526.0, 'Phenotype12': 0.48177299999999995, 'Phenotype9': 0.09160499999999999, 'Phenotype14': 0.632513, 'Phenotype20': 0.938418, 'Phenotype25': 0.0590057, 'Phenotype7': 0.0928148, 'Phenotype27': 0.0203235, 'Phenotype6': 0.16384300000000002, 'Phenotype13': 0.36327, 'Phenotype16': 14.8264, 'Phenotype5': 0.06250259999999999, 'Phenotype21': 0.9901559999999999, 'Phenotype2': 340.452, 'Phenotype17': 0.813646, 'Phenotype23': 1.06998, 'Phenotype18': 15.3981, 'Phenotype1': 1540.12, 'Phenotype26': 0.0134209, 'Phenotype19': 0.404702, 'Phenotype15': 2.04665, 'Phenotype4': 0.0825003, 'Phenotype10': 0.23433099999999998, 'Phenotype8': 0.14336400000000002, 'Phenotype22': 1.07428, 'Phenotype11': 0.147474, 'Phenotype24': 1.001}